body {
	background-color:white;
}
body,
.nav-menu a {
	color:#4f5e6f;
}
.entry-content input,
.entry-content textarea,
#colophon #text-2 a {
	border-color:#4f5e6f;
}
.wpcf7-response-output,
.entry-content input,
.entry-content textarea {
	background-color:#F6F8F9
}
.wpcf7-mail-sent-ok {
	background-color:#B8E294;
}
.wpcf7-validation-errors {
	background-color:#ECA9A9;
}
.wpcf7-not-valid-tip {
	color:#ECA9A9;
}
a,
#post-16 li:nth-child(odd),
#post-18 h4 {
	color:#89a542;
}
article.page h2,
article.page h2 + hr {
	border-color:#8aa42b;
}
#post-54 .horizontal-list a,
#post-8 li:nth-child(odd) {
	color:#9ab42b;
}
#post-14 blockquote + p {
	border-color:#9ab42b;
}
#burger-menu,
.menu-container {
	border-color:#d4d753;
}
#main-menu .sub-menu a {
	color:white;
}
#burger-menu .sub-menu {
	background-color:#9bb038;
}
#burger-menu .sub-menu a {
	color:white;
}

.widget_appointment-slider_widget,
.pale-blue {
	color: #617282;
}
.widget_appointment-slider_widget button {
	border-color: #617282;
}
.widget_appointment-slider_widget button.selected,
.widget_appointment-slider_widget button:hover,
.sushi-green {
	color: #9bb03b;
}
.widget_appointment-slider_widget button.selected,
.widget_appointment-slider_widget button:hover {
	border-color: #9bb03b;
}
