composer.lock
vendor
wp

wp-config.php

wp-content/*
!wp-content/mu-plugins
!wp-content/themes
wp-content/themes/*
!wp-content/themes/hitched
wp-content/themes/hitched/css/*
!wp-content/themes/hitched/css/src
wp-content/themes/hitched/js/*
!wp-content/themes/hitched/js/src
