* {
	box-sizing:border-box;
}
body {
	margin:0;
	background-color:white;
}
#page {
	position:relative;
}

body,
.nav-menu a {
	color:#4f5e6f;
}
a,
#post-16 li:nth-child(odd),
#post-18 h4 {
	color:#89a542;
}

.site-width {
	max-width:960px;
	margin:0 auto;
	position:relative;
}

#logo { z-index:3; }
#content { z-index:1; }

.tc { text-align:center; }
.no-underline { text-decoration:none; }
.fr { float:right; }
.uppercase { text-transform:uppercase; }
.lowercase { text-transform:lowercase; }
.no-text { overflow:hidden; white-space:nowrap; text-indent:110%; }
.no-color { color:inherit; }
.clearfix::after {
	content:'';
	display:block;
	clear:both;
}
.horizontal-list {
	list-style-type:none;
	margin:0;
	padding:0;
}
.horizontal-list > li {
	display:inline-block;
}
.single-background {
	background-color:transparent;
	background-position:center center;
	background-repeat:no-repeat;
}
.clean-button {
	text-transform:inherit;
	outline-style:none;
	background-color:transparent;
	border-style:none;
	padding:0;
}
.absolute-center {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.background,
.foreground {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.foreground { z-index:2; }
.overlay {
	background-color:#4f5e6f;
	opacity:0;
	transition:opacity 0.3s;
}
p:first-child {
	margin-top:0;
}
p:last-child {
	margin-bottom:0;
}
h4 {
	margin-top:0;
	margin-bottom:1em;
}

.slideshow {
	position:relative;
}
.slideshow__image {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.slideshow__image {
	opacity:0;
	transition:opacity 3s;
}
.slideshow:not(.init) .slideshow__image:first-child,
.slideshow .selected {
	opacity:1;
	z-index:2;
	transition:opacity 2s;
}

.grid {
	overflow:hidden;
	position:relative;
}
.grid__item {
	margin-left:0;
	margin-bottom:10px;
	width:auto;
	position:relative;
	overflow:hidden;
}
.grid__item.last-row {
	margin-bottom:0 !important;
}
.grid__item {
	float:left;
	margin-left:2%;
	margin-bottom:2%;
}
.grid[data-col-count="2"] > .grid__item {
	width:49%;
}
.grid[data-col-count="3"] > .grid__item {
	width:32%;
}
.grid[data-col-count="3"] > .grid__item:nth-child(3n + 1) {
	clear:left;
	margin-left:0 !important;
}
.grid[data-col-count="3"] > .grid__item:nth-child(3n + 3) {
	float:right;
	clear:right;
}
.grid[data-col-count="4"] > .grid__item {
	width:23.5%;
}

#masthead {
	background-color:#fef4f1;
}
.appointments-button {
	color:white;
	padding:12px 12px 0;
	font-size:14px;
	line-height:17px;
	margin-right:70px;
	margin-bottom:25px;
	width:158px;
	height:53px;
	background-color:#9BB038;
}

#logo {
	position:absolute;
	left:50%;
	margin-left:-137px;
	top:22px;
}

.menu-container {
	background-color:white;
	border:1px solid #d4d753;
	border-left-style:none;
	border-right-style:none;
	height:60px;
	font-size:15px;
	letter-spacing:3px;
}
.nav-menu a {
	line-height:60px;
	text-decoration:none;
}

#main-menu {
	clear:both;
	padding:0 30px;
}
#main-menu > ul {
	text-align:right;
}
#main-menu > ul > li {
}
#main-menu li:nth-child(1),
#main-menu li:nth-child(2) {
	float:left;
}
#main-menu li:nth-child(1)::after,
#main-menu li:nth-child(3)::after {
	content:':';
	margin:0 13px;
}
#main-menu li:nth-child(3)::after {
	margin:0 6px 0 13px;
}

#main-menu > ul ul {
	text-align:center;
	background-color:#9BB038;
}
#main-menu li li {
	float:none;
	display:block;
}
#main-menu li li a {
	line-height:40px;
}

#pages-menu {
	letter-spacing:2px;
}
#pages-menu li::after {
	content:'-';
	margin:0 6px 0 13px;
}
#pages-menu li:last-child::after {
	display:none;
}

.menu-social-media-container li:nth-child(1) .single-background { background-position:-5% 50%; }
.menu-social-media-container li:nth-child(2) .single-background { background-position:20% 50%; }
.menu-social-media-container li:nth-child(3) .single-background { background-position:49% 50%; }
.menu-social-media-container li:nth-child(4) .single-background { background-position:72% 50%; }

#colophon {
	background-color:#fef4f1;
	padding:20px 50px 15px;
}
#colophon .widget {
	display:inline-block;
	vertical-align:top;
}
#colophon .widget-title {
	text-transform:lowercase;
	margin-top:0;
}
#colophon .single-background {
	display:block;
	width:30px;
	height:30px;
	background-image:url(../../img/icon-sprite.png);
}
#colophon #nav_menu-2,
#colophon #mailinglist_widget-2 {
	width:280px;
}
#colophon #nav_menu-2 {
	float:left;
	text-align:left;
}
#colophon #mailinglist_widget-2 {
	float:right;
	text-align:right;
}
/* Social */
/* Address */
#colophon #text-2 {
	line-height:1.6;
	font-size:14px;
	letter-spacing:2px;
}
#colophon #text-2 .widget-title {
	display:none;
}
/* Mailing List */
#mailinglist_widget-2 input[type="submit"] {
	color:white;
	background-color:#8aa42b;
	padding:0 8px;
}
#mailinglist_widget-2 input {
	height:30px;
	line-height:30px;
}
/* Email */
#colophon #text-3 {
	display:block;
	clear:both;
}
#colophon #text-3 .widget-title {
	margin:20px 0 0;
}
#colophon #text-3 .single-background {
	width:40px;
	margin:0 auto;
	background-position:102% 50%;
}

body.home .page-title {
	display:none;
}
#home-gallery {
	height:62vw;
	margin-bottom:8px;
}
#page-callouts {
	margin-bottom:8px;
	font-size:27px;
	letter-spacing:3px;
}
#page-callouts .grid__item {
	width:calc(33.33% - 6px);
	margin-left:8px;
	height:24vw;
}
#page-callouts .single-background {
	background-size:cover;
}
#page-callouts a > span {
	color:white;
	height:auto;
	top:50%;
	bottom:auto;
	padding:0 20%;
	opacity:0;
	transform:translateY(-50%);
	transition:opacity 0.3s;
}
#page-callouts a:hover > .overlay {
	opacity:0.7;
}
#page-callouts a:hover > span {
	opacity:1;
}
/* Full Width */
@media (min-width:980px) {
	#home-gallery {
		height:593px;
	}
	#page-callouts .grid__item {
		height:254px;
	}
}

article.page {
	margin-bottom:50px;
}
article.page .page-title {
	margin:20px 0 12px;
	font-size:40px;
}
article.page > header .attachment-post-thumbnail {
	display:block;
	width:100%;
	height:auto;
}
article.page > .entry-content {
	max-width:880px;
	margin:0 auto;
	font-size:18px;
}
article.page > .entry-content > h4,
article.page > .entry-content > p {
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	line-height:1.8;
}
article.page h2 {
	border:1px solid #8aa42b;
	text-transform:uppercase;
	line-height:60px;
	margin:50px auto 60px;
	text-align:center;
}

.team-member {
	max-width:760px;
	margin:0 auto 90px;
	clear:both;
	overflow:hidden;
	line-height:1.5;
}
.team-member > img {
	float:left;
}
.team-member > .info {
	float:right;
	width:calc(100% - 264px);
}

/* Accessories */
#post-54 {
}
#post-54 ul {
	margin:50px auto;
	max-width:600px;
	line-height:30px;
}
#post-54 li {
	width:49%;
}
#post-54 a {
	text-decoration:none;
}

/* Bridal */
#post-60 {
	overflow:auto;
}
#post-60 ul {
	overflow:auto;
	margin:50px auto 20px;
	max-width:800px;
}
#post-60 li {
	width:45%;
	float:left;
	margin-bottom:60px;
}
#post-60 li:nth-child(even) {
	float:right;
}
#post-60 ul a {
	display:block;
}
#post-60 ul img {
	width:100%;
	height:60vw;
	max-height:480px;
	object-fit:cover;
	object-position:left top;
}
#post-60 ul span {
	display:block;
	font-size:20px;
	line-height:2;
}
#post-60 > a:last-child {
	float:right;
	margin-bottom:20px;
}

/* Careers */
#post-18 .entry-content {
	text-align:left;
}

/* FAQ */
#post-16 ul {
	text-align:left;
	line-height:1.75;
}
#post-16 li {
	display:block;
	margin-bottom:15px;
}
#post-16 li:nth-child(odd) {
	font-weight:bold;
	cursor:pointer;
}
#post-16 li:nth-child(even) {
	display:none;
}
