* {
	box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	background-color:white;
	color:#4f5e6f;
}

#page {
	max-width:960px;
	margin:0 auto;
	position:relative;
}

.tc { text-align:center; }
.no-underline { text-decoration:none; }
.fr { float:right; }
.uppercase { text-transform:uppercase; }
.no-text { overflow:hidden; white-space:nowrap; text-indent:110%; }
.clearfix::after {
	content:'';
	display:block;
	clear:both;
}
.horizontal-list {
	list-style-type:none;
	margin:0;
	padding:0;
}
.horizontal-list > li {
	display:inline-block;
}
.single-background {
	background-color:transparent;
	background-position:center center;
	background-repeat:no-repeat;
}
.clean-button {
	text-transform:inherit;
	outline-style:none;
	background-color:transparent;
	border-style:none;
	padding:0;
}

#masthead {
	background-color:#fef4f1;
}
.appointments-button {
	color:white;
	padding:12px 12px 0;
	font-size:14px;
	line-height:17px;
	margin-right:70px;
	margin-bottom:25px;
	width:158px;
	height:53px;
	background-color:#9BB038;
}

#logo {
	position:absolute;
	left:50%;
	margin-left:-137px;
	top:22px;
}

.menu-container {
	background-color:white;
	border:1px solid #d4d753;
	border-left-style:none;
	border-right-style:none;
	height:60px;
	font-size:15px;
	letter-spacing:3px;
}
.nav-menu a {
	line-height:60px;
	text-decoration:none;
}

#main-menu {
	clear:both;
	padding:0 30px;
}
#main-menu > ul {
	text-align:right;
}
#main-menu > ul > li {
}
#main-menu li:nth-child(1),
#main-menu li:nth-child(2) {
	float:left;
}
#main-menu li:nth-child(1)::after,
#main-menu li:nth-child(3)::after {
	content:':';
	margin:0 13px;
}
#main-menu li:nth-child(3)::after {
	margin:0 6px 0 13px;
}

#main-menu > ul ul {
	text-align:center;
	background-color:#9BB038;
}
#main-menu li li {
	float:none;
	display:block;
}
#main-menu li li a {
	line-height:40px;
}

#pages-menu {
	letter-spacing:2px;
}
#pages-menu li::after {
	content:'-';
	margin:0 6px 0 13px;
}
#pages-menu li:last-child::after {
	display:none;
}

.menu-social-media-container li:nth-child(1) .single-background { background-position:-5% 50%; }
.menu-social-media-container li:nth-child(2) .single-background { background-position:20% 50%; }
.menu-social-media-container li:nth-child(3) .single-background { background-position:49% 50%; }
.menu-social-media-container li:nth-child(4) .single-background { background-position:72% 50%; }

#colophon {
	background-color:#fef4f1;
	padding:20px 50px 0;
}
#colophon .widget {
	display:inline-block;
	vertical-align:top;
}
#colophon .widget-title {
	text-transform:lowercase;
	margin-top:0;
}
#colophon .single-background {
	display:block;
	width:30px;
	height:30px;
	background-image:url(../../img/icon-sprite.png);
}
#colophon #nav_menu-2,
#colophon #mailinglist_widget-2 {
	width:280px;
}
#colophon #nav_menu-2 {
	float:left;
	text-align:left;
}
#colophon #mailinglist_widget-2 {
	float:right;
	text-align:right;
}
/* Social */
/* Address */
#colophon #text-2 {
	line-height:1.6;
	font-size:14px;
	letter-spacing:2px;
}
#colophon #text-2 .widget-title {
	display:none;
}
/* Mailing List */
#mailinglist_widget-2 input[type="submit"] {
	color:white;
	background-color:#8aa42b;
	padding:0 8px;
}
#mailinglist_widget-2 input {
	height:30px;
	line-height:30px;
}
/* Email */
#colophon #text-3 {
	display:block;
	clear:both;
}
#colophon #text-3 .widget-title {
	margin:20px 0 0;
}
#colophon #text-3 .single-background {
	width:40px;
	margin:0 auto;
	background-position:102% 50%;
}
