.menu-container {
	background-color:white;
	border-width:1px;
	border-style:solid;
	border-left-style:none;
	border-right-style:none;
	height:60px;
	font-size:15px;
	letter-spacing:3px;
	position:relative;
}
.menu-container.wide {
	display:none;
}
.nav-menu a {
	line-height:60px;
	text-decoration:none;
}
.sub-menu {
	display:none;
}

#main-menu {
	clear:both;
	padding:0 30px;
}
#main-menu > ul {
	text-align:right;
}
#main-menu > ul > li {
	position:relative;
}
#main-menu > ul > li::after,
#main-menu > ul > li > a {
	background-color:white;
	display:inline-block;
	height:58px;
	position:relative;
	z-index:2;
	cursor:pointer;
}
#main-menu > ul > li::after {
	position:absolute;
	top:0;
	right:0;
	text-align:center;
	line-height:60px;
}
#main-menu li:nth-child(1),
#main-menu li:nth-child(2) {
	float:left;
}
#main-menu li:nth-child(1)::after,
#main-menu li:nth-child(3)::after {
	content:':';
}
#main-menu li:nth-child(1) { padding-right:35px; }
#main-menu li:nth-child(1)::after { width:35px; }
#main-menu li:nth-child(3) { padding-right:28px; }
#main-menu li:nth-child(3)::after { width:25px; }

#main-menu .sub-menu {
	display:block;
	position:absolute;
	top:59px;
	left:0;
	text-align:center;
	background-color:#9BB038;
	padding:8px 18px 12px;
	opacity:0;
	-webkit-transform:translateY(-100%);
	    -ms-transform:translateY(-100%);
	        transform:translateY(-100%);
	-webkit-transition:opacity 0.3s, -webkit-transform 0.3s;
	        transition:opacity 0.3s, transform 0.3s;
}
#main-menu .children-visible > .sub-menu {
	opacity:1;
	-webkit-transform:translateY(0);
	    -ms-transform:translateY(0);
	        transform:translateY(0);
}

#main-menu .sub-menu li {
	float:none;
	display:block;
	padding:0;
}
#main-menu .sub-menu li::after {
	display:none;
}
#main-menu .sub-menu a {
	line-height:31px;
	letter-spacing:2px;
}

#burger-menu {
	font-size:15px;
	letter-spacing:4px;
	position:absolute;
	top:120px;
	left:0;
	width:100%;
	padding:55px 0 10px;
	background-color:white;
	border-top-width:1px;
	border-top-style:solid;
	-webkit-transition:opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
	        transition:opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
#burger-menu:not(.visible) {
	-webkit-transform:translateY(-100%);
	    -ms-transform:translateY(-100%);
	        transform:translateY(-100%);
	opacity:0;
	-webkit-transition-delay:0s;
	        transition-delay:0s;
}
#burger-menu + #content {
	-webkit-transition:opacity 0.3s 0.3s;
	        transition:opacity 0.3s 0.3s;
}
#burger-menu.visible + #content {
	opacity:0;
	-webkit-transition-delay:0s;
	        transition-delay:0s;
}
#burger-menu ul {
	list-style-type:none;
	padding:0;
}
#burger-menu a {
	line-height:30px;
}
#burger-menu .sub-menu {
	display:block;
	letter-spacing:4px;
	font-size:14px;
	margin:10px 0 20px;
	padding:23px 0 15px;
}
.burger {
	display:inline-block;
	background-image:url(../../../img/burger.svg);
}
.menu-container > .burger {
	width:60px;
	height:60px;
	background-size:30px auto;
	margin-left:6px;
}

#pages-menu {
	letter-spacing:2px;
}
#pages-menu li:last-child::after {
	display:none;
}

@media (max-width:499px) {
	#pages-menu {
		height:auto;
		padding:12px 0;
	}
	#pages-menu li {
		display:block;
	}
	#pages-menu a {
		line-height:36px;
	}
}
@media (min-width:500px) {
	.menu-container > .burger {
		margin-left:40px;
	}
	#burger-menu {
		top:144px;
		font-size:20px;
		letter-spacing:5px;
	}
	#burger-menu .sub-menu {
		font-size:19px;
		margin:10px 0 20px;
		padding:20px 0 15px;
	}
	#burger-menu a {
		line-height:38px;
	}
	#pages-menu li::after {
		content:'-';
		margin:0 6px 0 13px;
	}
}

@media (min-width:918px) {
	.menu-container.narrow, #burger-menu {
		display:none;
	}
	.menu-container.wide {
		display:block;
	}
}
