.menu-container {
	background-color:white;
	border-width:1px;
	border-style:solid;
	border-left-style:none;
	border-right-style:none;
	height:60px;
	font-size:15px;
	letter-spacing:3px;
	position:relative;
}
.nav-menu a {
	line-height:60px;
	text-decoration:none;
}
.sub-menu {
	display:none;
}

#main-menu {
	clear:both;
	padding:0 30px;
}
#main-menu > ul {
	text-align:right;
}
#main-menu > ul > li {
	position:relative;
}
#main-menu > ul > li::after,
#main-menu > ul > li > a {
	background-color:white;
	display:inline-block;
	height:58px;
	position:relative;
	z-index:2;
	cursor:pointer;
}
#main-menu > ul > li::after {
	position:absolute;
	top:0;
	right:0;
	text-align:center;
	line-height:60px;
}
#main-menu li:nth-child(1),
#main-menu li:nth-child(2) {
	float:left;
}
#main-menu li:nth-child(1)::after,
#main-menu li:nth-child(3)::after {
	content:':';
}
#main-menu li:nth-child(1) { padding-right:35px; }
#main-menu li:nth-child(1)::after { width:35px; }
#main-menu li:nth-child(3) { padding-right:28px; }
#main-menu li:nth-child(3)::after { width:25px; }

#main-menu .sub-menu {
	display:block;
	position:absolute;
	top:59px;
	left:0;
	text-align:center;
	background-color:#9BB038;
	padding:8px 18px 12px;
	opacity:0;
	transform:translateY(-100%);
	transition:opacity 0.3s, transform 0.3s;
}
#main-menu .children-visible > .sub-menu {
	opacity:1;
	transform:translateY(0);
}

#main-menu .sub-menu li {
	float:none;
	display:block;
	padding:0;
}
#main-menu .sub-menu li::after {
	display:none;
}
#main-menu .sub-menu a {
	line-height:31px;
	letter-spacing:2px;
}

#pages-menu {
	letter-spacing:2px;
}
#pages-menu li::after {
	content:'-';
	margin:0 6px 0 13px;
}
#pages-menu li:last-child::after {
	display:none;
}

