/* Basic */
.entry-content input,
textarea {
	padding: 3px 10px;
	border-width: 1px;
	border-style: solid;
	line-height: 30px;
	font-size: 18px;
	color: inherit;
}
.entry-content fieldset, .entry-content input[type="submit"] {
	font-size: 21px;
}
.no-js .entry-content label {
	max-width: 50%;
}
body article.page {
	margin-bottom: 90px;
}
article.page > div.entry-content {
	text-align: left;
	max-width: 100%;
}
form p {
	clear: both;
}
h3 {
}
label,
label > .wpcf7-form-control-wrap {
	vertical-align: middle;
}
label {
	display: flex;
}
label > .wpcf7-form-control-wrap {
	float: right;
	margin-left: 5px;
	margin-top: -0.4em;
	flex-grow: 2;
}
label .wpcf7-form-control {
	width: 100%;
}
input[type="checkbox"] {
	margin-top: 24px;
}
/* End Basic */

/* Headers */
form th,
.entry-content input[type="submit"],
h2,
.entry-content h3 {
	font-family: BrandonGrotesqueBlackRegular;
	font-size: 23px;
	font-weight: normal;
}
article.page h1.page-title {
	font-family: BrandonGrotesqueBlackRegular;
	text-transform: uppercase;
	font-size: 23px;
	margin-top: 105px;
	text-align: center;
}
/* End Headers */

/* Submit */
.entry-content form > p: nth-last-of-type(1) {
	text-align: center;
}
.entry-content input[type="submit"] {
	border-style: none;
	text-transform: uppercase;
	font-size: 17px;
	padding: 10px 38px;
	margin-top: 24px;
	color: white;
}
/* End Submit */


/*
form > fieldset + p {
	margin-top: 40px;
}
form > h3 {
	margin: 30px auto 0;
}
form > h3 + p {
	margin-top: 20px;
}
.entry-content form > p input[type="text"] {
	font-size: 22px;
	padding: 0 10px;
}

*/

/* Table */
form table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
}
table input {
	width: 200px;
}
@media (max-width:  767px) {
	form th, form td {
		display: none;
	}
}
form th: first-child, form td: first-child {
	display: table-cell;
}
form th {
	padding: 0 12px 20px;
	text-align: center;
	font-size: 18px;
}
form td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 12px 5px 12px;
}
form td: first-child,
form td: last-child {
	border-right-style: none;
}
form tr: last-child > td {
	border-bottom-style: none;
}
/* End Table */

/* Radios */
span.wpcf7-list-item {
	margin-left: 0;
}
.wpcf7-radio {
	display: block;
	margin-top: 20px;
}
.wpcf7-radio > span {
	display: block;
	margin-bottom: 30px;
}
.wpcf7-list-item input,
.wpcf7-list-item .wpcf7-list-item-label {
	vertical-align: middle;
}
.wpcf7-radio input {
	margin-right: 30px;
	transform: scale(2);
}
.wpcf7-radio .wpcf7-list-item-label {
	text-align: left;
	display: inline-block;
	line-height: 1.3;
	width: calc(100% - 60px);
}
.wpcf7-radio.inline-choices > span {
	margin: 0 30px;
}
.wpcf7-radio.inline-choices > span input {
	margin-right: 15px;
}
/* End Radios */

/* CF7 */
.wpcf7-response-output {
	margin: 1em 0 0;
	padding: 16px 38px 12px;
	font-size: 21px;
}
.wpcf7-not-valid-tip {
	font-size: 16px;
	position: absolute;
	width: 100%;
	left: 0;
	top: -31px;
	white-space: nowrap;
}
.wpcf7-display-none {
	display: none;
}
/* End CF7 */

/* Desktop */
@media (min-width: 980px) {
	.flex-fields {
		margin-top: 8px;
		line-height: 64px;
		padding: 0 5px;
		display: flex;
		flex-wrap: wrap;
	}
	.flex-fields br {
		display: none;
	}
	.flex-fields label {
		margin: 0 5px;
		white-space: nowrap;
		flex-basis: 25%;
		flex-grow: 2;
		flex-shrink: 2;
	}
	.flex-fields .wpcf7-form-control-wrap {
		margin-top: 0;
	}
	.flex-fields .wpcf7-form-control {
	}
	.wpcf7-submit {
		width: auto;
	}
	/* Bridal Party */
	label[for="bride-name"] { flex-basis: 40%; }
	label[for="bride-cell-phone"], label[for="bride-work-phone"] { flex-basis: 19%; }
	label[for="bridesmaid-material"], label[for="bridesmaid-designer"] { flex-basis:20%; }
	label[for="bridesmaids-count"] { flex-basis: 3em; }
	label[for="bridesmaids-description"] { flex-basis: 40%; flex-grow: 0; }
	/* End Bridal Party */
	/* Bridesmaids Dress */
	label[for="maids-street"] { flex-basis: 45%; }
	label[for="maids-home-phone"], label[for="maids-cell-phone"], label[for="maids-work-phone"] { flex-basis: 19%; }
	label[for="maids-unit"] { flex-basis: 15%; }
	label[for="brides-name"] { flex-basis: 60%; }
	label[for="maids-dress-size"] { flex-basis: 10%; }
	label[for="size-chart-initials"] { flex-grow: 2; text-align: right; }
	label[for="maids-dress-style"], label[for="maids-dress-designer"] { flex-basis: 30%; }
	label[for="maids-dress-material"], label[for="maids-dress-color"], label[for="maids-dress-extra-length"] { flex-basis: 20%; }
	label[for="card-address"] { flex-basis: 50%; }
	label[for="card-phone"], label[for="card-email"] { flex-basis: 20%; }
	/* End Bridesmaids Dress */
	.wpcf7-form-control-wrap.maid-comments {
		float: none;
		display: inline-block;
		max-width: 500px;
		vertical-align: top;
	}
	.wpcf7-form-control-wrap.bride-comments {
		margin-top: 0.8em;
	}
	/* No Flex */
	label[for="purchased-at-hitched"],
	label[for="bride-comments"] {
		display: block;
		flex-basis: auto;
		flex-grow: 0;
	}
	label[for="purchased-at-hitched"] {
	}
	label[for="purchased-at-hitched"] .wpcf7-list-item-label {
	}
	/* End No Flex */
}
/* End Desktop */
