/* Basic */
.entry-content input,
textarea {
	padding: 3px 10px;
	border-width: 1px;
	border-style: solid;
	line-height: 30px;
	font-size: 18px;
	color: inherit;
}
.entry-content fieldset, .entry-content input[type="submit"] {
	font-size: 21px;
}
.no-js .entry-content label {
	max-width: 50%;
}
body article.page {
	margin-bottom: 90px;
}
article.page > div.entry-content {
	text-align: left;
	max-width: 100%;
}
h3 {
	text-align: center;
}
/* End Basic */

/* Headers */
form th,
.entry-content input[type="submit"],
h2,
.entry-content h3 {
	font-family: BrandonGrotesqueBlackRegular;
	font-size: 23px;
	font-weight: normal;
}
article.page h1.page-title {
	font-family: BrandonGrotesqueBlackRegular;
	text-transform: uppercase;
	font-size: 23px;
	margin-top: 105px;
	text-align: center;
}
/* End Headers */

/*
fieldset {
	border-style: none;
	padding: 0;
	margin: 20px auto;
}
fieldset > h2 {
	width: 100%;
}
fieldset > p {
	margin-top: 8px;
	line-height: 44px;
}
fieldset > p > span > input,
fieldset > p > span > textarea {
	width: 100%;
}
.entry-content form > p {
	margin: 30px auto 10px;
	font-size: 21px;
	line-height: 24px;
	text-align: left;
}
*/

/* Submit */
.entry-content form > p: nth-last-of-type(1) {
	text-align: center;
}
.entry-content input[type="submit"] {
	border-style: none;
	text-transform: uppercase;
	font-size: 17px;
	padding: 10px 38px;
	margin-top: 24px;
	color: white;
}
/* End Submit */


/*
form > fieldset + p {
	margin-top: 40px;
}
form > h3 {
	margin: 30px auto 0;
}
form > h3 + p {
	margin-top: 20px;
}
.entry-content form > p input[type="text"] {
	font-size: 22px;
	padding: 0 10px;
}

*/

/* Table */
form table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
}
table input {
	width: 200px;
}
@media (max-width:  767px) {
	form th, form td {
		display: none;
	}
}
form th: first-child, form td: first-child {
	display: table-cell;
}
form th {
	padding: 0 12px 20px;
	text-align: center;
	font-size: 18px;
}
form td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 12px 5px 12px;
}
form td: first-child,
form td: last-child {
	border-right-style: none;
}
form tr: last-child > td {
	border-bottom-style: none;
}
/* End Table */

/* Radios */
span.wpcf7-list-item {
	margin-left: 0;
}
.wpcf7-radio {
	display: block;
	margin-top: 20px;
}
.wpcf7-radio > span {
	display: block;
	margin-bottom: 30px;
}
.wpcf7-radio input,
.wpcf7-radio .wpcf7-list-item-label {
	vertical-align: middle;
}
.wpcf7-radio input {
	margin-right: 30px;
	transform: scale(2);
}
.wpcf7-radio .wpcf7-list-item-label {
	text-align: left;
	display: inline-block;
	line-height: 1.3;
	width: calc(100% - 60px);
}
.wpcf7-radio.inline-choices > span {
	margin: 0 30px;
}
.wpcf7-radio.inline-choices > span input {
	margin-right: 15px;
}
/* End Radios */

/* CF7 */
.wpcf7-response-output {
	margin: 1em 0 0;
	padding: 16px 38px 12px;
	font-size: 21px;
}
.wpcf7-form-control-wrap {
	position: relative;
}
.wpcf7-not-valid-tip {
	font-size: 16px;
	position: absolute;
	width: 100%;
	left: 0;
	top: -31px;
	white-space: nowrap;
}
.wpcf7-display-none {
	display: none;
}
/* End CF7 */

/* Desktop */
@media (min-width: 980px) {
	form br {
		display: none;
	}
	h3 + p {
		margin-top: 8px;
		line-height: 64px;
		padding: 0 5px;
		display: flex;
		flex-wrap: wrap;
	}
	h3 + p > label {
		white-space: nowrap;
		display: flex;
		margin: 0 5px;
		flex-basis: 25%;
		flex-grow: 2;
		flex-shrink: 2;
	}
	.wpcf7-form-control-wrap {
		float: right;
		margin-left: 5px;
		flex-grow: 2;
	}
	.wpcf7-form-control {
		width: 100%;
	}
	.wpcf7-submit {
		width: auto;
	}
	/* Bridal Party */
	label[for="bride-name"] { flex-basis: 40%; }
	label[for="bride-cell-phone"], label[for="bride-work-phone"] { flex-basis: 19%; }
	label[for="bridesmaid-material"], label[for="bridesmaid-designer"] { flex-basis:20%; }
	label[for="bridesmaids-count"] { flex-basis: 3em; }
	label[for="bridesmaids-description"] { flex-basis: 40%; flex-grow: 0; }
	label[for="comments"] .wpcf7-form-control-wrap { padding-top: 1em; }
	/* End Bridal Party */
	/* No Flex */
	label[for="purchased-at-hitched"],
	label[for="comments"] {
		display: block;
		flex-basis: auto;
		flex-grow: 0;
	}
}
/* End Desktop */
