/* Bridal - Maids */
.designers-gallery {
	overflow:auto;
}
.designers-gallery ul {
	overflow:auto;
	margin:50px auto 20px;
	max-width:740px;
}
.designers-gallery li {
	width:45%;
	float:left;
	margin-bottom:60px;
}
.designers-gallery li:nth-child(even) {
	float:right;
}
.designers-gallery ul a {
	display:block;
}
.designers-gallery ul img {
	width:100%;
	height:45vw;
	max-height:370px;
	object-fit:cover;
	object-position:left top;
}
.designers-gallery ul span {
	display:block;
	font-size:22px;
	line-height:2;
}

/* Maids */
#post-87 > .entry-content {
	margin-bottom:10px;
}

@media (max-width:499px) {
	.designers-gallery {
		padding:0 20px;
	}
	.designers-gallery li {
		float:none !important;
		width:auto;
	}
	.designers-gallery ul img {
		height:95vw;
	}
	.designers-gallery ul span {
		font-size:20px;
	}
}
