/* Happenings */
#post-8 > .entry-content {
	max-width:800px;
}
#post-8 ul {
	overflow:auto;
	font-size:18px;
}
#post-8 li {
	width:47%;
}
#post-8 li:nth-child(4n + 1),
#post-8 li:nth-child(4n + 2) {
	float:left;
	clear:left;
}
#post-8 li:nth-child(4n + 3),
#post-8 li:nth-child(4n + 4) {
	float:right;
	clear:right;
}
#post-8 li:nth-child(odd) {
}
#post-8 li:nth-child(even) {
	margin-bottom:20px;
}
#post-8 li:nth-child(4n + 3) {
	margin-top:-48px;
}
#post-8 > .entry-content > p {
	line-height:1.5;
}
#post-8 > .entry-content p a {
	text-decoration:none;
}
