#post-2 {
	max-width:100%;
}
#post-2 .page-title,
#post-2 .entry-content {
	display:none;
}
#home-gallery {
	height:62vw;
	margin-bottom:8px;
}
#page-callouts {
	margin-bottom:8px;
	font-size:30px;
	line-height:1.3;
	font-weight:900;
	letter-spacing:3px;
}

@media (min-width:500px) {
	#page-callouts {
		font-size:50px;
	}
}
@media (max-width:767px) {
	#page-callouts .grid__item {
		width:100%;
		display:inline-block;
		margin-left:0;
		margin-bottom:20px !important;
		max-width:540px;
		max-height:500px;
		height:70vw;
		float:none;
	}
	#page-callouts .grid__item:first-child {
		margin-top:40px;
	}
	#page-callouts .grid__item:last-child {
		margin-bottom:70px !important;
	}
	#page-callouts .overlay {
		opacity:0.7;
	}
	#page-callouts a:hover > span {
		opacity:1;
	}
}
@media (min-width:768px) {
	#page-callouts .grid__item {
		max-width:100%;
		width:calc(33.33% - 6px);
		margin-left:8px;
		height:24vw;
	}
}
#page-callouts .single-background {
	background-size:cover;
}
#page-callouts a > .overlay {
	opacity:0.7;
}
#page-callouts a > span {
	color:white;
	height:auto;
	top:50%;
	bottom:auto;
	padding:0 20%;
	transform:translateY(-50%);
	transition:opacity 0.3s;
}

@media (min-width:768px) {
	#page-callouts {
		font-size:29px;
	}
	#page-callouts a > .overlay,
	#page-callouts a > span {
		opacity:0;
	}
	#page-callouts a:hover > .overlay {
		opacity:0.7;
	}
	#page-callouts a:hover > span {
		opacity:1;
	}
}
