article.page {
	margin-bottom:30px;
}
article.page .page-title {
	margin:40px 0 50px;
	font-size:42px;
	line-height:1.6;
}
article.page > header .attachment-post-thumbnail {
	display:block;
	width:100%;
	height:auto;
}
article.page > .entry-content {
	max-width:724px;
	margin:0 auto;
	font-size:19px;
	padding-right:10px;
	padding-left:10px;
}
article.page h2 + hr {
	display:none;
}
article.page > .entry-content > h4,
article.page > .entry-content > p {
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	line-height:1.8;
}
article.page > .entry-content img {
	max-width:100%;
	height:auto;
}
article.page h2 {
	border-width:1px;
	border-style:solid;
	text-transform:uppercase;
	line-height:70px;
	margin:50px auto 30px;
	text-align:center;
	letter-spacing:5px;
	font-weight:100;
	font-size:24px;
	padding: 5px 19px 0;
	display: inline-block;
	position: relative;
	z-index: 2;
	background-color: #FFF;
	outline: 20px solid #FFF;
}
article.page p + h2 {
	margin-top:20px;
}
article.page h2 + hr {
	max-width:100%;
	width:880px;
	position: relative;
	margin:-27px auto 0;
	bottom: 70px;
	border-top-style:solid;
	border-bottom-style:none;
}
article.page .entry-content a {
	text-decoration:none;
}

a.scroll-button:last-child {
	position:absolute;
	bottom:-60px;
	left:50%;
	letter-spacing:2px;
	transform:translateX(-50%);
}
a.scroll-button:last-child::after {
	content:'>';
	margin-left: 15px;
	font-size: 13px;
	transform: scale(2, 1) rotate(-90deg);
	position: absolute;
	top: -3px;
	right: -28px;
}

@media (min-width:500px) {
	article.page {
		margin-bottom:50px;
	}
	article.page .page-title {
		font-size:70px;
		margin:75px 0 45px;
	}
	article.page > .entry-content {
		font-size:25px;
	}
	article.page h2 {
		margin:50px auto 60px;
	}
	article.page h2 + hr {
		display:block;
		width:704px;
	}
	a.scroll-button:last-child {
		left:auto;
		right:50px;
		bottom:0;
		letter-spacing:2px;
		padding-right:40px;
		transform:none;
	}
	a.scroll-button:last-child::after {
		right:12px;
	}
}

@media (min-width:768px) {
	article.page .page-title {
		margin:55px 0 35px;
	}
	article.page > .entry-content {
		font-size:18px;
	}
}
