form {
	text-align:left;
}
fieldset > p {
	line-height:64px;
	display:flex;
	flex-wrap:wrap;
}
fieldset > p > label,
fieldset > p > span {
	margin:0 6px;
}
fieldset > p > span {
	flex-basis:25%;
	flex-grow:2;
	flex-shrink:2;
}
.entry-content form > p:nth-last-of-type(1) {
	text-align:left;
}
form th:first-child {
	text-align:left;
}
.wpcf7-radio .wpcf7-list-item-label {
	line-height:inherit;
}
.wpcf7-radio.inline-choices,
.wpcf7-radio.inline-choices > span {
	float:left;
}
.wpcf7-radio > span,
.entry-content form > p input[type="text"] {
	line-height:1;
}

/**
 * Party form fields
 */
.bride-name { flex-basis:40%; }
.bride-cell-phone, .bride-work-phone { flex-basis:30%; }
.purchased-at-hitched { flex-basis:auto; }
.bridesmaid-material, .bridesmaid-designer { flex-basis:30%; }
.bridesmaids-count { flex-basis:3em; }
.bridesmaids-description { flex-basis:40%; }

/**
 * Bridesmaids form fields
 */
.maids-name, .maids-email { flex-basis:30%; }
.maids-street { flex-basis:35%; }
.maids-unit { flex-basis:10%; }
.maids-city { flex-basis:40%; }
.maids-state { flex-basis:8%; }
.maids-zip { flex-basis:20%; }
.maids-home-phone, .maids-cell-phone, .maids-work-phone { flex-basis:30%; }
.maids-wedding-date { flex-basis:8%; }
.maids-bust, .maids-waist, .maids-hip, .maids-height, .maids-street-size, .maids-dress-size, .size-chart-initials { flex-basis:3em; flex-grow:0; }
label[for="maids-bust"], label[for="maids-waist"], label[for="maids-hip"] { max-width:100%; }
label[for="size-chart-initials"] { max-width:100%; }
.maids-dress-style, .maids-dress-designer { flex-basis:25%; }
.maids-dress-material, .maids-dress-color, .maids-dress-extra-length { flex-basis:10%; }
.card-type { flex-basis:70%; }
.card-address { flex-basis:40%; }
.card-expiration { flex-basis:15%; }
.card-zip { flex-basis:8%; }
.card-phone, .card-email { flex-basis:18%; }
